#grid{
    width: 400px;
    height: 400px;
    background-color: #b0c4de;
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
    margin-top: 10px;
}

@media (max-width:410px) {
    #grid{
        width: 200px;
        height: 200px;
        grid-template-columns: repeat(10,20px);
        grid-template-rows: repeat(10,20px);
    }
}