.menu{
    font-size: 50px;
    padding: 2%;
    display: block;
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
}

#menu{
    position: relative;
    left: 500px;
    left: 33%;
    top: 230px;
}

p{
    position: relative;
    width: 45%;
    text-align: justify;
    font-size: 25px;
    left: 50%;
    transform: translate(-50%,20%);
    line-height: 35px;
}

p::first-letter{
    font-size: 200%;
}

@media (max-width: 550px) {
    .menu{
        font-size: 30px;
    }
    p{
        top: -50px;
        width: 60%;
    }
    
}